#container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  justify-items: stretch;
  margin: 0 auto;
  padding: 0.5em;
}
.custom-range {
  width: auto;
}

.custom-range::-webkit-slider-thumb {
  background: grey
}

.item {
  border: 1px solid;
  background-color: yellow;
}

button {
  padding: 10px;
  margin: 0.5em;
}

#startButtonContainer,
#probablilitySliderContainer,
#pauseAndResetButtonContainer {
  text-align: center;
}

i {
  padding: 0.5em;
}

h1 {
  text-align: center;
}

#leftSection {
  width: 50%;
  float: left;
}

#rightSection {
  width: 50%;
  float: right;
}

#liveCounters {
  text-align: center;
  padding: 0.5em;
}

@media screen and (max-width: 800px) {
  #rightSection,
  #leftSection {
    width: 100%;
  }
}
